

header .col-text h2, .col-1 > h3 { line-height: 1.8 }
body {
    font-family: 'Alegreya', serif;
}

header.theme-light .container-btn a.btn:nth-child(1) {
    font-family: 'Alegreya', serif;
}
header.theme-light .container-btn a.btn:nth-child(2) {
    font-family: 'Alegreya', serif;
}
.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited {
    font-family: 'Alegreya', serif;
}
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited {
    font-family: 'Alegreya', serif;
}
header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { border-color: var(--red-300) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { border-color: var(--red-300) }

header.theme-light { background-color: var(--brown-100) }
header.theme-light h1 { color: var(--teal-900) }
header.theme-light h2 { color: var(--teal-600) }
header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { background-color: var(--red-050) }

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { background-color: var(--red-050) }

nav.theme-light,
nav.theme-light ul.links-wrapper.active { background-color: var(--teal-900) }
nav.theme-light ul.links-wrapper li a:link,
nav.theme-light ul.links-wrapper li a:visited { color: var(--brown-050) }
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { border-color: var(--teal-900) }
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { color: var(--teal-900) }
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { background-color: var(--brown-050) }
nav.theme-light a#btn-cta:focus,
nav.theme-light a#btn-cta:hover,
nav.theme-light a#btn-cta:active { color: var(--brown-050) }
header.theme-light h1 span.highlight { color: var(--red-800) }
nav.theme-light a#btn-cta:focus,
nav.theme-light a#btn-cta:hover,
nav.theme-light a#btn-cta:active { background-color: var(--red-800) }
header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { background-color: var(--red-800) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--red-800) }

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { color: var(--red-700) }

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { color: var(--red-700) }

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { color: var(--red-050) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { color: var(--red-050) }

nav.theme-light ul.links-wrapper li a:focus,
nav.theme-light ul.links-wrapper li a:hover,
nav.theme-light ul.links-wrapper li a:active { color: var(--red-500) }
header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { border-color: var(--teal-900) }

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { border-color: var(--teal-900) }

header.theme-light img {
    margin-bottom: 32px;
    box-shadow: 8px 10px 8px #888;
}

.section-selector-1 .col-1 h2.heading-underline::after { background-color: var(--red-800) }
.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { color: var(--red-800) }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { background-color: var(--red-050) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: var(--red-050) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: var(--red-800) }

.section-selector-1.theme-light { background-color: var(--brown-200) }
.section-selector-1 .col-1 h2 { color: var(--red-800) }
.section-selector-1 .col-1 h3 { color: var(--teal-800) }
.section-selector-1 .col-3 p { color: var(--teal-800) }
.section-selector-1 .col-3 li { color: var(--teal-800) }
.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { border-color: var(--teal-900) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: var(--teal-900) }

.section-selector-1 .col-3 h3 { color: var(--red-900) }

.section-selector-1 img {
    border-radius: 50px; /* Adjust the border-radius value for desired roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the box-shadow values for desired shadow effect */
}


footer.theme-light { background-color: var(--brown-100) }
footer.theme-light > h3 { color: var(--red-800) }
footer.theme-light > h2 { color: var(--cyan-900) }
